{% extends 'base.html.twig' %}

{% block title %}
    Organisations des sorties
{% endblock %}

{% block body %}
    <main>


<div class="example-wrapper">
    <h1>Organisation des sorties</h1>
    {%include "sortie/_Form.html.twig"  %}
</div>
    </main>
{% endblock %}



